In [12]:
import pandas as pd
from pathlib import Path
currentPath = str(Path().resolve())
path = currentPath +'\clean_df.csv'
print (path)

C:\Users\Administrator\ee4211\4211\clean_df.csv

In [18]:
df = pd.read_csv(path)
df.head()

           localminute  dataid  meter_value
0  2015-10-01 00:14:44      35        93470
1  2015-10-01 06:23:36      35        93472
2  2015-10-01 11:24:52      35        93474
3  2015-10-01 17:03:44      35        93476
4  2015-10-01 19:44:49      35        93482

In [14]:
print (df)

        localminute  dataid  meter_value
dataid
35             2204       1         2203
44              440       1          440
77             1448       1         1431
94             5111       1         5106
114            1328       1         1328
187             704       1          704
222             942       1          942
252            3085       1         3085
370            1914       1         1891
483            4051       1         3938
484            4958       1         4949
661            1789       1         1789
739            3541       1         3541
744            2604       1         2585
871            3479       1         3341
1042           1472       1         1472
1086           4454       1         4453
1103            380       1          380
1185           2870       1         2767
1283           4400       1         4396
1403             63       1           62
1415            551       1          551
1507           5622       1         5620
1556           1633       1         1630
1589           4099       1         4099
1619           1152       1         1152
1697           1874       1         1874
1714           4008       1         4008
1718           3475       1         3472
1790           4693       1         4676
...             ...     ...          ...
7965            335       1          335
7989           3828       1         3826
8059            307       1          307
8084           1123       1         1066
8086           1524       1         1524
8155           1370       1         1370
8156           3564       1         3457
8244            504       1          504
8386            413       1          413
8467           1463       1         1451
8703            186       1          186
8829           3468       1         3468
8890           5146       1         5108
8967            713       1          614
9052           2306       1         2306
9121           2704       1         2704
9134           4627       1         4536
9160             65       1           65
9278           2232       1         2222
9295           5651       1         5651
9474           1409       1         1409
9600            263       1          263
9620             21       1           21
9631           1474       1         1456
9639           5517       1         5516
9729           2778       1         2778
9766            697       1          697
9849            704       1          691
9956            460       1          460
9982            880       1          880

[157 rows x 3 columns]

In [15]:
test = [[0,1,2],[3,4,5],[6,7,8]]

In [16]:
test[-1][1]

7